<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>portfolio</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li class="top_nav"><a href="/" ><strong>トップ</strong></a></li>
          <li class="top_nav"><a href="/myself"><strong>自己紹介</strong></a></li>
          <li class="top_nav"><a href="/form"><strong>お問い合わせ</strong></a></li>
          <li class="top_nav"><a href="https://twitter.com/python_hiro" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
        </ul>
      </nav>
    </header>
    <div id="top_id"></div>

    <div class="main">
      <br>
      <br>
      <br>
      <h1>Value</h1>
      <h2 class="h_vis">ITで社会と人生を豊かに</h2>
      <div class="vis">
      <p>ITを通して皆が安心して暮らせる社会を目指します。</p>
      <p>社会に貢献することで、自身の人生も豊かにします。</p>
      </div>
      <div class="circle1"></div>
      <div class="circle2"></div>
      <br>
      <br>
      <h1>行動指針</h1>
      <div class="move">
        <h2>リーダーの意識を持って取り組む</h2>
        <h2>常に１番を目指す</h2>
        <h2>常識を疑い、型破りであること</h2>
        <h2>仕事や仲間に対し誠実であること</h2>
        <h2>一切の差別を排除する</h2>
      </div>
      <br>
      <br>

    </div>

    <footer>
      <br>
      <div class="footer_ul">
        <ol>
          <li><a href="https://www.instagram.com/hiro_pmthon/" target="_blank">Instagram</a></li>
          <li><a href="https://github.com/pyhiro" target="_blank">Github</a></li>
          <li><a href="https://pmthon.com/" target="_blank">ブログ</a></li>
        </ol>
      </div>

      <div class="return"><a href="#top_id">トップに戻る</a></div>
    </footer>


  </body>
</html>