<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  </head>

  <body>
    <header>
      <p></p>
      <nav class="header_nav">
        <h2 class="kanauchi_port">kanauchi-portfolio</h2>
        <ul class="header_ul">
          <li class="top_nav"><a href="/" ><strong>TOP</strong></a></li>
          <li class="top_nav"><a href="/myself"><strong>PROFILE</strong></strong></a></li>
          <li class="top_nav"><a href="/form"><strong>CONTACT</strong></a></li>
          <li class="top_nav top_twitter"><a href="https://twitter.com/python_hiro" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
        </ul>
      </nav>
    </header>
    <div id="top_id"></div>

    <div class="main">
      <br>
      <br>
      <br>
      <p></p>
      <h1 class="h_vis f_change hh_vis">Value</h1>
      <h2 class="h_vis">ITで社会と人生を豊かに</h2>
      <div class="vis">
      <ul>
        <li>ITを通して皆が安心して暮らせる社会を目指します。</li>
        <li>社会に貢献することで、自身の人生も豊かにします。</li>
      </ul>
      </div>
      <div class="circle1"></div>
      <div class="circle2"></div>
      <br>
      <br>
      <h1 class="policy f_change">Policy</h1>
      <div class="move">
        <ul>
        <li><h2>リーダーの意識を持って取り組む</h2></li>
        <li><h2>常に１番を目指す</h2></li>
        <li><h2>常識を疑い、型破りであること</h2></li>
        <li><h2>仕事や仲間に対し誠実であること</h2></li>
        <li><h2>一切の差別を排除する</h2></li>
        </ul>
      </div>
      <br>
      <br>

    </div>
    <p></p>
    <footer>
      <br>
      <div class="footer_ul">
        <ol>
          <li><a href="https://www.instagram.com/hiro_pmthon/" target="_blank">Instagram</a></li>
          <li><a href="https://github.com/pyhiro" target="_blank">Github</a></li>
          <li><a href="https://pmthon.com/" target="_blank">ブログ</a></li>
        </ol>
      </div>

      <div class="return"><a href="#top_id">トップに戻る</a></div>
    </footer>


  </body>
</html>