<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  </head>

  <body>
    <header>
      <p></p>
      <nav class="header_nav">
        <h2>kanauchi-portfolio</h2>
        <ul class="header_ul">
          <li class="top_nav"><a href="/" ><strong>トップ</strong></a></li>
          <li class="top_nav"><a href="/myself"><strong>自己紹介</strong></a></li>
          <li class="top_nav"><a href="/form"><strong>お問い合わせ</strong></a></li>
          <li class="top_nav top_twitter"><a href="https://twitter.com/python_hiro" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
        </ul>
      </nav>
    </header>
    <div id="top_id"></div>

    <div class="main">
      <br>
      <br>
      <br>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <h1 class="my_self f_change">profile</h1>

      <br>
      
      <table class="self_table" align="center">
        <tr>
          <th>birth</th>
          <td>1994年12月生まれ（<span data-birth="1994-12-01"></span>歳）</td>
        </tr>
        <tr>
          <th>address</th>
          <td>東京</td>
        </tr>
        <tr>
          <th>school</th>
          <td>東京情報クリエイター工学院専門学校</td>
        </tr>
        <tr>
          <th>major</th>
          <td>情報処理</td>
        </tr>
      </table>

      <br>
      </div>
      
      
      <ul class="img_list">
        <li class="item">
          <div class="item_img"><img src="/static/images/S__19079174.jpg"><p class="dis">job</p></div>
        </li>
        <li class="item">
          <div class="item_img"><img src="/static/images/S__19079175.jpg"><p class="dis">character</p></div>
        </li>
        <li class="item">
          <div class="item_img"><img src="/static/images/S__19079176.jpg"><p class="dis">hobby</p></div>
        </li>
        <li class="item">
          <div class="item_img"><img src="/static/images/S__19079177.jpg"><p class="dis">friends</p></div>
        </li>
      </ul>
      
      
      <div class="main">
      <br>
      <h2 class="h_vis f_change">qualification</h2>
      <div class="qua">
      <p>基本情報技術者</p>
      <p>TOEIC 750点</p>
      </div>
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <br>
      <br>
      <h1 class="skill f_change">skill</h1>
      <div class="qua">
        <h3>HTML,CSS,jQuery  Lv.2</h3>
        <h3>Python           Lv.3</h3>
        <h3>Django           Lv.2</h3>
        <h3>Flask            Lv.2</h3>
        <h3>machine learning Lv.2</h3>
        <h3>Block Chain      Lv.2</h3>
        <h3>Ruby on Rails    Lv.2</h3>
        <h3>Java             Lv.2</h3>
        <h3>Docker           Lv.1</h3>
        <h3>Go               Lv.1</h3>
        <h3>AWS              Lv.1</h3>
      </div>
      <br>
      <br>

    </div>

    <footer>
      <br>
      <div class="footer_ul">
        <ol>
          <li><a href="https://www.instagram.com/hiro_pmthon/" target="_blank">Instagram</a></li>
          <li><a href="https://github.com/pyhiro" target="_blank">Github</a></li>
          <li><a href="https://pmthon.com/" target="_blank">ブログ</a></li>
        </ol>
      </div>

      <div class="return"><a href="#top_id">トップに戻る</a></div>
    </footer>

    <script>
      (function () {
      var today = new Date();
      document.querySelectorAll('[data-birth]').forEach(function (element) {
      var birth = element.getAttribute('data-birth');
      if (birth.match(/^\d{4}(-|\/)\d{2}(-|\/)\d{2}$/)) {
      var birthDate = new Date(birth);
      var age = today.getFullYear() - birthDate.getFullYear();
      var m = today.getMonth() - birthDate.getMonth();
      if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
      age--;
      }
      age = Math.max(age, 0);
      element.innerHTML = age;
      }
      });
      })();
    </script>
  </body>
</html>